{% extends "dashboard.html" %}
{% block css %}
    <link href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div class="right_col" role="main" style="min-height: 636px;">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>All Developers

                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% if developers %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Developers</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for c in developers %}
                                        <tr>
                                            <td>
                                                {{ c.username }}
                                                <div class="float_right">
                                                    {#                                                    {% if c.latest != "none" %}#}
                                                    {#                                                        <a class="float_right_a cursor_pointer" title="Download"#}
                                                    {#                                                           href="/download/{{ c.username }}/{{ c.latest.replace("/","_") }}">#}
                                                    {#                                                            <i class="fa fa-download" aria-hidden="true"></i> Download#}
                                                    {#                                                            Latest Task#}
                                                    {#                                                        </a>|#}
                                                    {#                                                    {% endif %}#}
                                                    <a class="float_right_a cursor_pointer"
                                                       href="all_tasks/{{ c.username }}"
                                                       title="Browse All task">
                                                        <i class="fa fa-check-square-o attendance"> Browse All Tasks</i>
                                                    </a> |
                                                    <a class="float_right_a cursor_pointer" id="{{ c.username }}"
                                                       title="Remove {{ c.username.capitalize() }}"
                                                       onclick="return remove_developer(this.id)">
                                                        <i class="fa fa-trash-o delete_client"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>

                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>All Tasks Details
                                <small>Details of all Tasks</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        {% if all_details %}
                            <table id="tl_table_dashboard" class="table table-bordered" cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Added On</th>
                                    <th>Project ID</th>
                                    <th>Task Title</th>
                                    <th>Milestone</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Est. Hours</th>
                                    <th>QA</th>
                                    <th>Developer</th>
                                    <th>Priority</th>
                                    <th>Type</th>
                                    <th>Description</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for task in all_details %}
                                    <tr>
                                        <td>
                                            <a class="cursor_pointer" data-toggle="modal"
                                               data-target="#modal{{ task.id }}" title="Edit">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <a class="cursor_pointer delete_client" title="Delete"
                                               id="{{ task.id }}"
                                               onclick="return remove_task(this.id)">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>

                                        <td> {{ task.added_on }}</td>
                                        <td>
                                            <a href="http://erp.drcsystems.com/pms/projects/details/{{ task.project_id }}">{{ task.project_id }} </a>
                                        </td>
                                        <td> {{ task.task_title }} </td>
                                        <td> {{ task.milestone }} </td>
                                        <td> {{ task.start_date }} </td>
                                        <td> {{ task.end_date }} </td>
                                        <td> {{ task.estimated_hours }} </td>
                                        <td> {{ task.qa }} </td>
                                        <td> {{ task.developer }} </td>
                                        <td> {{ task.priority }} </td>
                                        <td> {{ task.type }} </td>
                                        <td class="hide_extra"
                                            title="{{ task.description }}"> {{ task.description }} </td>

                                        {#                                            <td> {{ task.added_on }} </td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th> Tasks Added On</th>
                                    <th> Download</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        No Data Available
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if all_details %}
        {% for task in all_details %}
            <div id="modal{{ task.id }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Task</h4>
                        </div>
                        <div class="modal-body">
                            <form name="update{{ task.id }}" id="update{{ task.id }}" class="form-horizontal"
                                  method="POST"
                                  action="/update_task/{{ task.id }}">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="project_id">Project ID</label>
                                    <div class="col-sm-10">
                                        <input required type="text" class="form-control" id="project_id"
                                               name="project_id" placeholder="Enter Project ID"
                                               value="{{ task.project_id }}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="task_title">Task Title</label>
                                    <div class="col-sm-10">
                                        <input required type="text" class="form-control" id="task_title"
                                               name="task_title" placeholder="Enter Task Title"
                                               value="{{ task.task_title }}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="milestone">Milestone</label>
                                    <div class="col-sm-10">
                                        <input required type="text" class="form-control" id="milestone" name="milestone"
                                               placeholder="Enter Milestone" value="{{ task.milestone }}">
                                    </div>
                                </div>

                                <div class="input-daterange input-group form-group" id="datepicker">
                                    <label class="col-sm-2 control-label" for="input_from">Start Date</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="input_from" class="input-sm form-control"
                                               name="start_date"
                                               value="{{ task.start_date }}"/>
                                    </div>
                                    <label class="col-sm-2 control-label" for="input_to">End Date</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="input_to" class="input-sm form-control" name="end_date"
                                               value="{{ task.end_date }}"/>
                                    </div>
                                </div>
                                <div class="form-group bootstrap-timepicker">
                                    <label class="col-sm-2 control-label" for="estimated_hours{{ task.id }}">Est.
                                        Hours</label>
                                    <div class="col-sm-4">
                                        <input style="text-align: center;" id="estimated_hours{{ task.id }}"
                                               name="estimated_hours" type="text"
                                               class="form-control"
                                               value="{{ task.estimated_hours.split(":")[0] }}:{{ task.estimated_hours.split(":")[1] }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="qa">QA</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="qa" name="qa"
                                               placeholder="Enter QA">
                                    </div>
                                    <label class="col-sm-2 control-label" for="developer">Developer</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="developer"
                                               placeholder="{{ task.developer }}" disabled>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="priority">Priority</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="priority" id="priority">
                                            {% if task.priority == 'High' %}
                                                <option selected>High</option>
                                                <option>Medium</option>
                                                <option>Low</option>
                                            {% elif task.priority == 'Medium' %}
                                                <option>High</option>
                                                <option selected>Medium</option>
                                                <option>Low</option>
                                            {% else %}
                                                <option>High</option>
                                                <option>Medium</option>
                                                <option selected>Low</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label" for="type">Type</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="type" id="type">
                                            {% if task.type == 'New' %}
                                                <option selected>New</option>
                                                <option>Old</option>
                                            {% else %}
                                                <option>New</option>
                                                <option selected>Old</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="description">Description</label>
                                    <div class="col-sm-10">
                                        <textarea required class="form-control" rows="3" id="description"
                                                  name="description"
                                                  placeholder="Enter Description">{{ task.description }}</textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="submit"
                                    class="btn btn-default" form="update{{ task.id }}">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block js %}

    {% if all_details %}
        {% for task in all_details %}
            <script>
                $('#estimated_hours{{ task.id }}').timepicker(
                    {
                        showMeridian: false,
                        defaultTime: '08:00',
                        icons: {
                            up: 'fa fa-sort-up',
                            down: 'fa fa-sort-down'
                        }
                    }
                );
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}